<app-household-layout>
    <p>household-dashboard works!</p>
    <br>
    @if (households && households.length > 0) {
    <h2 class="mini-title">Choose a household to work on </h2>
    <div class="flex flex-col w-full flex-wrap gap-4">
        @for (householdItem of householdItems; track $index){
        <app-household-table-item [household]="householdItem" [isSelected]="selectedHouseholdId()===householdItem.id"
            (selected)="onSelectItem(householdItem.id)"></app-household-table-item>
        }
    </div>
    <br>
    @if (selectedHouseholdId()) {
    <div class="flex justify-center">
        <button class="btn btn-select" (click)="handleSelect()">
            Select household
        </button>
    </div>

    }
    }

    <app-household-creation (created)="onSelectItem($event.id)"></app-household-creation>
</app-household-layout>